<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Anasayfa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/anasayfa.css" />
</head>
<body>
    <navbar>
        <div class="navBizim">
            <img src="~/img/component (1).png" class="resim1" />
            <div class="menu">
                <a href="/Anasayfa/Index" class="anasayfa">ANASAYFA</a>
                <a href="/Home/Index" class="izlemeagi">İZLEME AĞI</a>
            </div>
            <img src="~/img/component (2).png" class="resim2" />
        </div>
    </navbar>
    <div>
        <p>YENİLİKÇİ ve ÇEVRECİ BİYOREMİDASYON TEKNOLOJİSİ</p>
    </div>

</body>
</html>
