################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UygulamaUI/.vs/UygulamaUI/v16/Server/sqlite3
/UygulamaUI/obj/UygulamaUI.csproj.nuget.cache
