
@{
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCharts</title>
</head>
<body>
    <div>
        @{
            List<ChartJSCore.Models.Chart> charts = (List<ChartJSCore.Models.Chart>)ViewData["Charts"];
            for (int i = 0; i < charts.Count; i++)
            {
                <div>
                    <canvas id="@("chart"+i)">
                    </canvas>
                </div>
            }
        }

        @section Scripts {
            <script src="~/lib/Chart.js"></script>
            <script>
            @{
                for (int i = 0; i < charts.Count; i++)
                {
                    @Html.Raw(charts[i].CreateChartCode(("chart" + i)));
                }
            }
            </script>
        }
    </div>
</body>
</html>
