<div>
    <div><canvas id="lineChart"></canvas></div>

    @{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["Chart"]; }

    @section Scripts {
        <script src="~/lib/Chart.js"></script>
        <script>
                    @Html.Raw(chart.CreateChartCode("lineChart"));
        </script>
    }
</div>
