@using UygulamaUI.Models
@model SelectList
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <div class="row justify-content-end m-3">
        <a class="btn btn-info mr-3" href="/Login/Index">Düzenle</a>
        <a class="btn btn-danger" href="/Login/Index">Çıkış Yap</a>
    </div>

    <div class="row justify-content-center">

        <div class="col-4 border">
            <div class="form-inline justify-content-between m-1">
                <label>Cihaz:</label>
                @Html.DropDownList("ddlCihazlar", Model, "Cihaz Seçin", new { @class = "form-control" })
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>CihazID:</label>
                <label id="deviceId"></label>
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>CihazName:</label>
                <label id="deviceName">Cihazın Adı</label>
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>Working Mode:</label>
                <label id="deviceWMode"></label>
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>CihazID:</label>
                <label id="deviceGuid"></label>
            </div>

        </div>

        <div class="col-7 border ml-3">
            <p>Grafik yeri</p>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#ddlCihazlar").change(function () {
            console.log($("#ddlCihazlar option:selected").text());
            if ($("#ddlCihazlar").text == "Cihaz Seçin") {

            }
            $.getJSON("/Home/DeviceName", { DeviceGUID: $("#ddlCihazlar").val() }, function (data) {
                console.log(data);
                $("#deviceName").html(data.name); 
                $("#deviceId").html(data.id);
                $("#deviceWMode").html(data.workingMode); 
                $("#deviceGuid").html(data.deviceGUID); 
            })
        })
    });
</script>



