@using UygulamaUI.Models
@model SelectList
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<navbar>
    <div class="navBizim">
        <img src="~/img/component (1).png" class="resim1" />
        <div class="menu">
            <a href="/Anasayfa/Index" class="anasayfa">ANASAYFA</a>
            <a href="/Home/Index" class="izlemeagi">İZLEME AĞI</a>
        </div>
        <img src="~/img/component (2).png" class="resim2" />
    </div>
</navbar>
<br />
<div class="mb-2" id="divHarita" style="width:100%; height:600px;">
</div>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-4 border">
            <div class="form-inline justify-content-between m-1">
                <label>Cihaz:</label>
                @Html.DropDownList("ddlCihazlar", Model, "Cihaz Seçin", new { @class = "form-control" })
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>Cihaz ID:</label>
                <label id="deviceId" class="form-control"></label>
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>Cihaz Adı:</label>
                <label id="deviceName" class="form-control"></label>
            </div>
            <div class="form-inline justify-content-between m-1">
                <label>Çalışma Modu:</label>
                <label id="deviceWMode" class="form-control"></label>
            </div>
        </div>

        <div id="divCharts" class="col-7 border ml-3">
            @* graphics will come here *@
        </div>

    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#ddlCihazlar").change(function () {
            if ($("#ddlCihazlar option:selected").text() == "Cihaz Seçin") {
                $("#deviceName").html("");
                $("#deviceId").html("");
                $("#deviceWMode").html("");
                $("#divCharts").load(`/Home/GetCharts/${0}`);
            }
            $.ajax({
                url: '/Home/GetDeviceInfo',
                data: { id: $("#ddlCihazlar").val() },
                success: function (device) {
                    $("#deviceName").html(device.name);
                    $("#deviceId").html(device.id);
                    $("#deviceWMode").html(device.workingMode);

                    $("#divCharts").load(`/Home/GetCharts/${device.id}`);
                }
            });
        });

    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4MlKy6TkDxM1mW6lpGj0-PlF1btdJsd8&callback=initMap"
        type="text/javascript"></script>
<script>
    function initMap() {
        var options = {
            center: new google.maps.LatLng(41.015137, 28.979530),
            zoom: 11,
        };  
        var kadiköyPosition = { lat: 40.985496058, lng: 29.035333192};
        var map = new google.maps.Map(document.getElementById("divHarita"), options);
        var marker = new google.maps.Marker({
            position: kadiköyPosition,
            map: map
        });
        marker.addListener('click', toggleBounce);

    }

    function toggleBounce() {
        $.ajax({
            url: '/Home/GetDeviceInfo',
            data: { id: 1 },
            success: function (device) {
                $("#deviceName").html(device.name);
                $("#deviceId").html(device.id);
                $("#deviceWMode").html(device.workingMode);

                $("#divCharts").load(`/Home/GetCharts/${device.id}`);
            }
        });
    }
</script>