<div name="fullnav" class="row justify-content-between" style="background-color: rgba(255, 255, 255, 0.8);">
    <div name="btkLogo" class="img-fluid col-3 m-3">
        <img src="~/img/component (1).png" class="resim1" />
    </div>
    <div name="navbar" class="col-6 mt-5">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/Anasayfa" class="navbar-brand " style="color: #1E90B3; font-weight: bold; font-size: 150%; opacity: 1.0;">ANASAYFA</a>
                    <a href="/Home/Index" class="navbar-brand " style="color: #1E90B3; font-weight: bold; font-size: 150%; opacity: 1.0;">İZLEME AĞI</a>
                    <a href="/Rapor/Index" class="navbar-brand " style="color: #1E90B3; font-weight: bold; font-size: 150%; opacity: 1.0;">RAPORLAR</a>
                    <a href="#" class="navbar-brand " style="color: #1E90B3; font-weight: bold; font-size: 150%; opacity: 1.0;">İÇERİKLER</a>
                    <a href="/Contact/Index" class="navbar-brand " style="color: #1E90B3; font-weight: bold; font-size: 150%; opacity: 1.0;">İLETİŞİM</a>
                    <a href="/Login/Index" class="navbar-brand " style="color: #1E90B3; font-weight: bold; font-size: 150%; opacity: 1.0;">ÜYELİK</a>
                </div>
            </div>
        </nav>
    </div>
    <div name="ibbLogo" class="img-fluid col-2">
        <img src="~/img/component (2).png" class="resim2" />
    </div>
</div>