@{
    ViewData["Title"] = "Kayıt";
}
@model Uygulama.Models.User
    <div class="container">
        <div class="alert-danger text-white">@ViewData["Hata"]</div>
        <div class="row justify-content-center">
            <div class="kayit col-5 border">
                @using (Html.BeginForm("Index", "Registration", FormMethod.Post))
                {

                    <div class="form-group">
                        <label for="Email">Mail Adresiniz:</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Mail adresinizi giriniz.." })
                    </div>
                    <div class="form-group">
                        <label for="Email">Telefon Numaranız:</label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Telefon numaranızı giriniz.." })
                    </div>
                    <div class="form-group">
                        <label for="Email">Şifreniz:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mail adresinizi giriniz.." })
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Şifre Onay</label>
                        <input type="password" class="form-control" id="inputPasswordControl" name="inputPasswordControl" placeholder="Tekrar şifreniz giriniz...">
                    </div>

                    <a class="btn btn-warning" href="/Home/Login">Geri Dön</a>
                    <button type="submit" class="btn btn-success  float-right">Tamamla</button>
                }
            </div>
        </div>

    </div>
