@using UygulamaUI.Models
@model User
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-end">
        <a class="btn btn-danger" href="/Login/Index">Çıkış Yap</a>
    </div>
    <div class="row justify-content-center">

        <div class="col-3 border">
            @Html.DropDownListFor(m => m.UName, new SelectList(Model.Devices, "Id", "Name"), new { @class = "form control" })
            @*<label>Cihazı seçiniz:</label>
            <ul>
                @foreach (var x in Model)
                {
                    <li>@x.DeviceGUID</li>
                }
            </ul>*@
        </div>
        <div class="col-6 border ml-5">
            <p>Grafik yeri</p>
        </div>
    </div>






