
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")
    <div class="justify-content-center">
        <div>
            BakTek Çevre Teknolojileri San. ve Tic. A.Ş.
        </div>
        <div>
            Merkez Ofis
        </div>
        <div>
            Yukarıdudullu Mah. Tavukçuyolu Cd. Tandoğanay Sk. Doruk Plaza No:11 K: 2-3-4 Ümraniye/İstanbul

        </div>
        <div>
            Teknokent Ofis

        </div>
        <div>
            Reşit Paşa Mah. Katar Cad. ARI 4 Binası (İTÜ Magnet) No: 2/50/6 SARIYER/Istanbul
        </div>

        <div>
            <div> Telefon : </div>
            
            <div> (0216) 594 7727 </div>
        </div>

        <div>
            <div> E-posta : </div>
            <div> info@bak-tek.com</div>
           
        </div>






    </div>

