
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header");
<h1>İçerik-1</h1>
<h1>İçerik-2</h1>
<h1>İçerik-3</h1>
<h1>İçerik-4</h1>
<h1>İçerik-5</h1>


