@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<div class="container">
    <div class="row justify-content-center">
        @if (!string.IsNullOrEmpty(ViewData["Hata"] as string))
        {
            <div class="col-5 alert-danger text-center">@ViewData["Hata"]!</div>

        }
    </div>
    <div class="row justify-content-center" style="margin-top:150px;">

        <div class="giris col-5 border">
            <form method="get" action="">

                <div class="form-group">
                    <label for="inputMail">Mail Adresiniz:</label>
                    <input type="email" class="form-control" id="userMail" name="Email" placeholder="Mail adresi gir...">
                </div>

                <div class="form-group">
                    <label for="inputPassword">Şifreniz:</label>
                    <input type="password" class="form-control" id="userPassword" name="Password" placeholder="Şifre gir...">
                </div>

                <div class="checkbox">
                    <label> <input type="checkbox"> Beni Hatırla </label>
                </div>
                <div class="form-inline justify-content-between mb-1">
                    @*<a class="btn btn-info" href="/Registration/Index">Kayıt Ol</a>*@
                    <a class="btn btn-info" href="#">Kayıt Ol</a>
                    <button type="submit" class="btn btn-success flo">Giriş Yap</button>
                </div>

            </form>
        </div>
    </div>

</div>
